.chat-list-wrapper {
    box-sizing: border-box;
}

.chat-list {
    padding-left: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(76, 81, 108, 0);
    text-decoration: none;
    border-radius: 25px 0 0 25px;
    cursor: pointer;
    transition: 0.3s linear;
}

.chat-list:hover {
    border-radius: 25px 0 0 25px;
    background-color: rgba(197, 201, 222, 0.67);
    color: #FFFFFF;
}

.chat-list_active {
    border-radius: 25px 0 0 25px;
    background-color: rgba(197, 201, 222, 0.67);
    color: #FFFFFF;
}

.chat-list__text {
    margin: 0;
    font-size: 24px;
    text-decoration: none;
    color: rgba(226, 197, 140, 0.8);
    font-family: 'Inter', 'Arial', sans-serif;
}
