.chat-list{
    background-color: rgba(62, 66, 88, 1);
    height: 53vh;
    box-sizing: border-box;
    padding-top: 40px;
}

.chat-list__work{
    padding-left: 30px;
    height: 80px;
    background-color: rgba(76, 81, 108, 0);
    color: rgba(226, 197, 140, 0.8);
    display: flex;
    align-items: center;
    border-radius: 25px 0 0 25px;
    cursor: pointer;
    transition: 0.3s linear;

}

.chat-list__work:hover {
    border-radius: 25px 0 0 25px;
    background-color: rgba(197, 201, 222, 0.67);
    color: #FFFFFF;

}

.chat-list__flood {
    padding-left: 30px;
    height: 80px;
    color: rgba(226, 197, 140, 0.8);
    display: flex;
    align-items: center;
    background-color: rgba(76, 81, 108, 0);
    border-radius: 25px 0 0 25px;
    cursor: pointer;
    transition: 0.3s linear;

}

.chat-list__flood:hover {
    border-radius: 25px 0 0 25px;
    background-color: rgba(197, 201, 222, 0.67);
    color: #FFFFFF;
}

.chat-list__work-text {
    margin: 0;
    font-size: 24px;
    font-family: 'Inter', 'Arial', sans-serif;

}

.chat-list__flood-text {
    margin: 0;
    font-size: 24px;
    font-family: 'Inter', 'Arial', sans-serif;

}