.footer {
    background-color: rgba(62, 66, 88, 1);
    height: 12vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.footer-text {
    color: #B8AEAE;
    margin: 0 0 10px 0;
}